.menu{
    display:flex;
    align-items: center;
    margin-left: 7vw;
}

.menu__link {
    font-family: 'PT Astra Sans',Arial;
    margin-right: 45px;
    text-decoration: none;
    color: #163E6C;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    cursor: text;
    pointer-events: none;
}
.menu__link:hover{
    color: #163E6C;
}
.menu__link_active{
    pointer-events:initial;
    cursor:pointer;
    color:#163E6C;   
}
.menu__link_active:hover{
    color:#163E6C;
}
@media screen and (max-width:750px) {
    .menu{
    margin-left: 60px;
    }  
}
@media screen and (max-width:950px) {
    .menu{
        display: none;
    } 
}